* {
    background-color: #E9F1FA;
    color: #01257D;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Header */

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "head nav nav"
        "head . logged";
}

#main-heading {
    background-color: #01dab6;
    border-top: 1px solid #01257D;
    border-bottom: 1px solid #01257D;
    padding: 1rem;
    grid-area: head;
}

#main-heading-link {
    background-color: #01dab6;
    border-radius: 0.2em;
    text-decoration: none;
}

.nav-bar {
    margin-left: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "home article user";
    grid-area: nav;
    align-content: center;
    column-gap: 1em;
    border-top: 1px solid #01257D;
    border-bottom: 1px solid #01257D;
    justify-content: space-around;
}

#home-nav-link {
    border-top: 1px solid #01257D;
    border-bottom: 1px solid #01257D;
    background-color: #01dab6;
    border-radius: 0.2em;
    color: #01257D;
    padding: 0.5em;
    text-decoration: none;
    grid-area: home;
}

#home-nav-link:hover {
    border: 1px solid #01257D;
}

#articles-nav-link {
    border-top: 1px solid #01257D;
    border-bottom: 1px solid #01257D;
    background-color: #01dab6;
    border-radius: 0.2em;
    color: #01257D;
    padding: 0.5em;
    grid-area: article;
    text-decoration: none;
}

#articles-nav-link:hover {
    border: 1px solid #01257D;
}

#users-nav-link {
    border-top: 1px solid #01257D;
    border-bottom: 1px solid #01257D;
    background-color: #01dab6;
    border-radius: 0.2em;
    color: #01257D;
    padding: 0.5em;
    grid-area: user;
    text-decoration: none;
}

#users-nav-link:hover {
    border: 1px solid #01257D;
}

#logged-in-user-nav-link {
    border-top: 1px solid #01257D;
    border-bottom: 1px solid #01257D;
    border-radius: 0.2em;
    background-color: #01dab6;
    color: #01257D;
    text-align: center;
    text-decoration: none;
    margin: 1em;
    margin-left: auto;
    grid-area: logged;
    padding: 1em;
}

#logged-in-user-nav-link:hover {
    border: 1px solid #01257D;
}

/* Home */
.home-heading {
    text-align: center;
    border-bottom: 2px solid #01257D;
    padding: 0.3em;
}

/* Trending Articles */
#trending-articles-heading {
    text-align: center;
}

.trendy-article-cards {
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0;
}

/* TrendyCard */
.trendy-article-info {
    display: grid;
    grid-template-columns: 10em auto 7em;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "image title topic"
        "image title .";
    align-items: center;
    box-shadow: 0.3em 0.3em 0.4em 0.1em #01257D;
    margin: 3.5em 1.5em 3.5em 1.5em;
}

#trendy-article-img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 10em;
    height: 8em;
    grid-area: image;
}

#trendy-article-title {
    margin: 0.5em;
    padding: 0.5em;
    grid-area: title;
}

#trendy-article-title-link {
    text-decoration: none;
}

#trendy-article-topic {
    justify-self: end;
    align-self: first baseline;
    margin: 0.5em;
    margin-top: 0.2em;
    grid-area: topic;
}

#trendy-article-topic-span {
    background-color: #01dab6;
    color: #01257D;
    border-radius: 0.2em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: auto;
    padding: 0.2em;
}

/* Loading */
.loading {
    margin: 5px;
    border-bottom: 2px solid #01257D;
    text-align: center;
}

/* Articles */
.article-page {
    display: grid;
    grid-template-columns: 0.5em, auto;
    grid-template-rows: auto, auto, auto;
    grid-template-areas: 
        "heading heading"
        "select select"
        "card card";
}

.articles-heading {
    text-align: center;
    border-bottom: 2px solid #01257D;
    grid-area: heading;
    padding: 0.3em;
}

.article-card-list {
    margin: 5px;
    padding-inline-start: 0;
    margin-block-start: 0;
    grid-area: card;
}

.drop-down-menus {
    grid-area: select;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.3em;
    padding: 0.2em;
}

.topic-drop-down {
    margin: 0.3em;
    padding: 0.2em;
}

#topic-label {
    margin: 0.2em;
}

.sort-by-drop-down {
    margin: 0.3em;
    padding: 0.2em;
}

#sort-by-label {
    margin: 0.2em;
}

.order-drop-down {
    margin: 0.3em;
    padding: 0.2em;
}

#order-label {
    margin: 0.2em;
}

.page-limit-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
}

.limit-drop-down {
    margin: 0.3em;
    padding: 0.2em;
}

#limit-label {
    margin: 0px;
    padding: 0.15em;
}

.page-options-container {
    margin: 0.3em;
    margin-left: auto;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
}

.bottom-page-options-container {
    margin: 0.3em;
    padding: 0.2em;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left-page-button {
    margin: 0.2em;
    border: none;
}

#left-page-button:hover {
    background-color: #01dab6;
    color: #01257D;
}

#left-page-button:disabled {
    color: lightgray;
 }
 
 #left-page-button:disabled:hover {
    background-color: #E9F1FA;
     border: none;
  }

#page-text {
    margin: 0.2em;
}

#right-page-button {
    margin: 0.2em;
    border: none;
}

#right-page-button:hover {
    background-color: #01dab6;
    color: #01257D;
}

#right-page-button:disabled {
   color: lightgray;
}

#right-page-button:disabled:hover {
    background-color: #E9F1FA;
    border: none;
 }

/* ArticleCard */
.article-info {
    box-shadow: 0.3em 0.3em 0.4em 0.1em #01257D;
    margin: 3.5em 1.5em 3.5em 1.5em;
    display: grid;
    grid-template-columns: 7em auto 7em;
    grid-template-rows: 7em auto;
    grid-template-areas:
    "img title topic"
    "date . response";
}

#article-img {
    grid-area: img;
    width: 7rem;
    height: 7rem;
}

#article-title {
    margin: 0.5em;
    grid-area: title;
    text-decoration: none;
    justify-self:baseline;
}

#article-topic-link {
    text-decoration: none;
    justify-self: end;
    margin-right: 0.5em;
}

#article-topic {
    grid-area: topic;
    margin-top: 0.2em;
}

#topic-span {
    background-color: #01dab6;
    color: #01257D;
    border-radius: 0.2em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: auto;
    padding: 0.2em;
}

#article-date {
    grid-area: date;
    justify-items: end;
    padding: 0.3em;
}

#article-comments {
    grid-area: response;
    justify-self: end;
    margin-top: 2em;
    margin-right: 0.7em;
    padding: 0.15em;
}

#article-votes {
    grid-area: response;
    justify-self: start;
    margin-left: 0.7em;
    margin-top: 2em;
}

/* SingleArticle */
#single-article-heading {
    text-align: center;
    border-bottom: 0.1em solid #01257D;
    margin-bottom: 0;
    padding: 0.3em;
}

.single-article-header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2em;
}

#single-article-date {
    margin-left: auto;
    font-size: 12px;
}

#single-article-topic-link { 
    padding: 0.2em;
    text-decoration: none;
}

#single-article-topic-text { 
    background-color: #01dab6;
    color: #01257D;
    border-radius: 0.3em;
    font-size: 1em;
    padding: 0.3em;
    margin-right: auto;
}

#single-article-author-link {
    text-align: center;
    text-decoration: none;
}

#single-article-author-heading {
    margin: 0;
    padding: 0.3em;
}

#single-article-image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em;
}

#single-article-body {
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.vote-button-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    border-bottom: 3px solid #01257D;
    margin: 1em;
}

#single-article-upvotes-button {
    margin: 5px;
    border: none;
    font-size: 22px;
}

#single-article-downvotes-button {
    margin: 5px;
    border: none;
    font-size: 22px;
}

#single-article-upvotes-button:hover {
    background-color: #01dab6;
    color: #01257D;
}

#single-article-downvotes-button:hover {
    background-color: #01dab6;
    color: #01257D;
}

/* Comments */
.comment-section {
    margin: 0.3em;
    padding: 0.2em;
}

#comments-heading {
    margin: 1em;
    padding: 0.3em;
    text-align: center;
}

/* NewComment */
#post-error-message {
    text-align: center;
    margin: 0.3em;
    padding: 0.2em;
}

#post-confirmation-message {
    text-align: center;
}

.new-comment-form {
    padding: 0.3em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "label ."
        "input button";
    align-items: center;
    border-top: 1px solid #01257D;
}

#new-comment-label {
    margin: 0.3em;
    padding: 0.2em;
    grid-area: label;
}

#new-comment-input {
    grid-area: input;
    margin: 0.3em;
    padding: 0.2em;
    border: 1px solid #01257D;
    border-radius: 0.2em;
}

#post-comment-button {
    background-color: #01dab6;
    color: #01257D;
    border-radius: 0.5em;
    border: none;
    grid-area: button;
    justify-self: start;
    width: 5em;
    height: 3em;
}

#post-comment-button:hover {
    border: 1px solid #01257D;
}

#post-comment-button:disabled {
    background-color: lightgray;
    border: none;
}

#post-comment-button:disabled:hover {
    background-color: lightgray;
    border: none;
    font-style: normal;
}

.comment-page-options-container {
    margin: 0.3em;
    padding: 0.2em;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* CommentCard */
#delete-error-message {
    text-align: center;
    margin: 0.3em;
    padding: 0.2em;
}

#delete-confirmation-message {
    text-align: center;
    margin: 0.3em;
    padding: 0.2em;
}

.comment-card {
    box-shadow: 0.3em 0.3em 0.4em 0.1em #01257D;
    display: grid;
    grid-template-columns: 9em auto 4em;
    grid-template-rows: auto auto 5em;
    grid-template-areas:
        ". date delete"
        "author body body"
        "votes body body";
    margin: 3.5em 1.5em 3.5em 1.5em;
    align-items: center;
}

#comment-author {
    grid-area: author;
    margin: 0.2em;
    padding: 0.3em;
}

#comment-author-link {
    text-decoration: none;
}

#comment-body {
    grid-area: body;
    padding: 0.3em;
}

.comment-vote-button-container {
    display: flex;
    flex-direction: row;
    grid-area: votes;
}

#comment-upvotes-button {
    margin: 5px;
    border: none;
    justify-content: center;
    font-size: 22px;
}

#comment-downvotes-button {
    margin: 5px;
    border: none;
    justify-content: center;
    font-size: 22px;
}

#comment-upvotes-button:hover {
    background-color: #01dab6;
    color: #01257D;
}

#comment-downvotes-button:hover {
    background-color: #01dab6;
    color: #01257D;
}

#comment-date {
    font-size: 11px;
    grid-area: date;
}

#delete-comment-button {
    align-self: first baseline;
    background-color: #01dab6;
    color: #01257D;
    border: none;
    border-radius: 0.5em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    padding: 0.75em;
    grid-area: delete;
}

#delete-comment-button:hover {
    border: 1px solid #01257D;
}

#delete-comment-button:disabled {
    background-color: lightgray;
    border: none;
}

#delete-comment-button:disabled:hover {
    background-color: lightgray;
    border: none;
    font-style: normal;
}

/* Users */
.user-card-list {
    padding-inline-start: 0px;
}

/* SingleUser */
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#single-user-img {
    width: 25em;
    height: 20em;
}

#login-user-button {
    font-size: large;
    margin: 3em;
    background-color: #01dab6;
    color: #01257D;
    border-radius: 0.3em;
    border: none;
    padding: 0.3em;
}

#login-user-button:hover {
    border: 1px solid #01257D;
}

/* UserCard */
.user-card-info {
    margin: 10px;
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "img username";
    margin: 0.8em;
    padding: 0.2em;
    box-shadow: 0.3em 0.3em 0.5em 0.1em #01257D;
}

#user-card-img {
    margin: 5px;
    grid-area: img;
    width: 100px;
    height: 100px;
}

#user-card-username {
    margin: 0px;
    padding-inline-start: 20px;
    grid-area: username;
}

#username-link {
    text-decoration: none;
}

/* Error */
#oops-message {
    text-align: center
}

#status-code-heading {
    text-align: center;
}

#error-message {
    text-align: center;
}