* {
    background-color: #ffffff94;
    color: #3b3b3b;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.main-heading {
    border-bottom: 2px solid #3b3b3b;
}

.nav-bar {
    border-bottom: 2px solid #3b3b3b;
}

/* Home */
.home-heading {
    border-bottom: 2px solid #3b3b3b;
}

/* Loading */
.loading {
    margin: 5px;
    border-bottom: 2px solid #3b3b3b;
}

/* Articles */
.article-card-list {
    padding-inline-start: 0;
}

.articles-heading {
    border-bottom: 2px solid #3b3b3b;
}

/* ArticleCard */
.article-card {
    display: block;
    border-top: 1px solid #3b3b3b;
    border-bottom: 3px solid #3b3b3b;
    margin: 10px;
}


.article-info {
    display: grid;
    grid-template-columns: 100px auto auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "img title title"
    "date . topic";
    padding: 0;
}

#article-img {
    grid-area: img;
    width: 100px;
    height: 100px;
}

#article-title {
    margin: 15px;
    grid-area: title;
}

#article-topic {
    grid-area: topic;
}

#article-date {
    grid-area: date;
}

/* SingleArticle */

#article-heading {
    text-align: center;
    border-bottom: 3px solid #3b3b3b;
}

#article-author {
    text-align: center;
}

#single-article-image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#article-body {
    text-align: center;
}

.article-info-container {
    margin-top: 0px;
    border-bottom: 3px solid #3b3b3b;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;                              
}

#article-date {
    justify-content: right;
    font-size: 12px;
}

#article-topic { 
    margin: 5px;
    justify-content: left;
}

.vote-button-container {
    display: flex;
}

#article-upvotes-button {
    margin: 5px;
    border: none;
    justify-content: center;
    font-size: 22px;
}

#article-votes {
    justify-content: center;
}

#article-downvotes-button {
    margin: 5px;
    border: none;
    justify-content: center;
    font-size: 22px;
}

#article-upvotes-button:hover {
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 3px solid black;  
}

#article-downvotes-button:hover {
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 3px solid black;  
}

/* CommentCard */
.comment-card {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "author body body"
        "votes body body"
        "date body body";
    border-top: 1px solid #3b3b3b;
    border-bottom: 3px solid #3b3b3b;
    margin: 10px;
}

#comment-author {
    grid-area: author;
}

#comment-body {
    grid-area: body;
}

#comment-votes {
    grid-area: votes;
}

#comment-date {
    grid-area: date;
}